* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: sans-serif;
  overflow-x: hidden;
}

#rippleCanvas {
  display: block;
  width: 100%;
  height: auto;
  touch-action: none;
  background: #000;
}
